<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Candidate</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/AddPageCss.css}" />
  </head>
  <body>
    <div
      class="container"
      style="max-width: 500px; margin: auto; padding: 2rem"
    >
      <h2 class="header-head">Add Candidate</h2>
      <form th:action="@{/addSubmit}" th:object="${addBinding}" method="post">
        <div class="form-group">
          <label for="studentName">Candidate Name</label>
          <input
            th:field="*{CandidateName}"
            type="text"
            id="CandidateName"
            required
          />
        </div>

        <div class="form-group">
          <label for="phno">Phone Number</label>
          <input th:field="*{phoneNo}" type="text" id="phoneNo" required />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input th:field="*{email}" type="text" id="email" required />
        </div>

        <div class="form-group">
          <label for="classMode">Job Role</label>
          <select th:field="*{job_Role}" id="JobMode" required>
            <option value="">Select Mode</option>
            <option
              th:each="i : ${roles}"
              th:value="${i}"
              th:text="${i}"
            ></option>
          </select>
        </div>

        <div class="form-group">
          <label for="course">Join Mode</label>
          <select th:field="*{join_Mode}" id="course" name="course" required>
            <option value="">Select Course</option>
            <option
              th:each="j : ${modes}"
              th:value="${j}"
              th:text="${j}"
            ></option>
          </select>
        </div>

        <div class="form-group">
          <label for="enquiryStatus"> Status</label>
          <select th:field="*{status}" id="enquiryStatus" required>
            <option value="">Select Status</option>
            <option value="New">Pending</option>
            <option value="Follow Up">Rejected</option>
            <option value="Closed">Accepted</option>
          </select>
        </div>

        <div style="text-align: center; margin-top: 1.5rem">
          <button type="submit" class="btn-sparkle">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
