<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Management Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/searchPage.css" />
  </head>
  <body>
    <!-- header div -->
    <div class="container shadow p-3 mb-5 rounded header-head">
      <h1>View Candidates</h1>
    </div>
    <!---------------------------------search div------------------------------------------------------->
    <div class="container shadow p-3 mb-5 rounded">
      <form th:action="@{/search}" th:object="${data}" method="post">
        <div class="form container d-flex m-2 flex-wrap">
          <!--name-->
          <input
            class="colcol-xs-2 m-2"
            type="text"
            aria-label="First name"
            placeholder="Full Name"
            th:field="*{name}"
            id="nameInput"
          />
          <!--status-->
          <div class="dropdown m-2">
            <button
              id="statusButton"
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span id="statusButtonText">Status</span>
            </button>
            <ul class="dropdown-menu">
              <li th:each="s : ${statusList}">
                <a
                  class="dropdown-item"
                  href="#"
                  th:text="${s}"
                  th:attr="data-value=${s}"
                  onclick="setStatus(this.getAttribute('data-value')); return false;"
                ></a>
              </li>
            </ul>
          </div>
          <input type="hidden" th:field="*{status}" id="statusInput" />

          <!--gender-->
          <div class="dropdown m-2">
            <button
              id="genderButton"
              class="btn btn-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Gender
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#" onclick="setGender('M')">M</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" onclick="setGender('F')">F</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="#"
                  onclick="setGender('PreferNotToSay')"
                  >Prefer Not To Say</a
                >
              </li>
            </ul>
          </div>
          <input type="hidden" th:field="*{gender}" id="genderInput" />

          <!--Start date-->
          <input
            class="colcol-xs-2 m-2"
            type="date"
            aria-label="Start date"
            th:field="*{startDate}"
            id="startInput"
          />

          <!--end date-->
          <input
            class="colcol-xs-2 m-2"
            type="date"
            aria-label="End date"
            th:field="*{endDate}"
            id="endInput"
          />
        </div>
        <div
          class="container button-Design d-flex justify-content-end flex-wrap"
        >
          <button class="btn btn-secondary btn-sparkle" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
    <!------------------------------------------------------display table--------------------------------------------------->
    <div class="container shadow p-3 mb-5 rounded">
      <table class="table table-hover table-striped styled-table">
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Gender</th>
            <th scope="col">Start-Date</th>
            <th scope="col">End-Date</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="i , iterStat : ${display}">
            <th scope="row" th:text="${iterStat.index + 1}"></th>
            <td th:text="${i.name}"></td>
            <td th:text="${i.status}"></td>
            <td th:text="${i.gender}"></td>
            <td th:text="${i.start}"></td>
            <td th:text="${i.end}"></td>
          </tr>
          <tr th:if="${#lists.isEmpty(display)}">
            <td colspan="6" class="text-center text-light">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!----------------------------------------------------------export--------------------------------------------------->
    <div class="container export-container shadow p-3 mb-5 rounded export-head">
      <h3>Export To</h3>
      <div class="container">
        <div
          class="container button-Design d-flex justify-content-around flex-wrap"
        >
          <a
            href="/excel"
            class="btn btn-secondary btn-sparkle"
            id="excelButton"
            >Excel</a
          >
          <a href="/pdf" class="btn btn-secondary btn-sparkle" id="pdfButton"
            >Pdf</a
          >
        </div>
      </div>
    </div>

    <script th:src="@{/index.js}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
